<!DOCTYPE html>
    <head>
        <!-- Stylesheets -->

        <!-- Scripts -->

        <!-- Site Information -->
    </head>
    <body>
        <!-- Your awesome content -->
        <div class="content">
            <h1 id="name">Fabian Kainz</h1>
            <p id="job">Imagine Program Specialist</p>
            <p>Several years in Web Development</p>
            <a href="about.html"/>Mehr über mich</a>
        </div>
        <button onclick="clickEvent()">Klick mich!</button>

        <form method="post" action="/">
            <input type="text" name="user[name]">
            <input type="text" name="user[lastname]">
            <input type="submit" value="Submit">
        </form>

    </body>
</html>